<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.record.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.record.entity.User">
        <id column="user_id" property="userId" />
        <result column="open_id" property="openId" />
        <result column="nickname" property="nickname" />
        <result column="portrait" property="portrait" />
        <result column="city" property="city" />
        <result column="gender" property="gender" />
        <result column="phone_number" property="phoneNumber" />
        <result column="level" property="level" />
        <result column="role_id" property="roleId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, open_id, nickname, portrait, city, gender, phone_number, level, role_id, status, create_time, is_delete
    </sql>

</mapper>
